<footer>
    <h4>Attribution</h4>
    <p>MAP: mapsvg.(n.d.).[SVG of world map]. Retrieved June 22, 2024, from
        <a target="_blank" href="https://mapsvg.com/maps/world">
            https://mapsvg.com/maps/world
        </a>
    </p>
    <p>DATA: Geonames.(n.d.).[API Data]. Retrieved June 22, 2024, from
        <a target="_blank" href="https://www.geonames.org/export/">
            https://www.geonames.org/export/
        </a>
    </p>
    <p>World Bank Group.(n.d.).[API Data]. Retrieved June 22, 2024, from
        <a target="_blank" href="https://documents.worldbank.org/en/publication/documents-reports/api">
            https://documents.worldbank.org/en/publication/documents-reports/api
        </a>
    </p>
</footer>