#details-list {
    text-align: right;
    min-width: 300px;
}

h2 {
    text-align: center;
    padding: 10px;
}

.list-title{
    font-weight:bold;
    display: block;
    font-size: 1.1rem;
    padding: 5px;
}
mat-list {
    padding: 10px;

}
mat-list-item {
    margin-bottom: 25px;
    padding: 25px;
}

@media screen and (max-width: 800px) {
    #details-list {
        width: 100%;
        text-align:center;
    }

    mat-list {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        align-items: baseline;
    }
    mat-list-item {
        width: auto;
    }
}